    /*
    Flaticon icon font: Flaticon
    Creation date: 19/02/2016 14:53
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-clap-hands:before { content: "\f100"; }
.flaticon-diagonal-swipe:before { content: "\f101"; }
.flaticon-dislike:before { content: "\f102"; }
.flaticon-draw:before { content: "\f103"; }
.flaticon-fist:before { content: "\f104"; }
.flaticon-frame:before { content: "\f105"; }
.flaticon-hand:before { content: "\f106"; }
.flaticon-hold:before { content: "\f107"; }
.flaticon-like:before { content: "\f108"; }
.flaticon-peace-sign:before { content: "\f109"; }
.flaticon-pointing-rith:before { content: "\f10a"; }
.flaticon-press-button:before { content: "\f10b"; }
.flaticon-push-button:before { content: "\f10c"; }
.flaticon-rock-gesture:before { content: "\f10d"; }
.flaticon-rotate:before { content: "\f10e"; }
.flaticon-rotate-1:before { content: "\f10f"; }
.flaticon-rotate-2:before { content: "\f110"; }
.flaticon-rotate-3:before { content: "\f111"; }
.flaticon-shake-hands:before { content: "\f112"; }
.flaticon-swipe-down:before { content: "\f113"; }
.flaticon-swipe-to-right:before { content: "\f114"; }
.flaticon-swipe-to-right-1:before { content: "\f115"; }
.flaticon-swipe-to-right-2:before { content: "\f116"; }
.flaticon-swipe-up:before { content: "\f117"; }
.flaticon-tap-button:before { content: "\f118"; }
.flaticon-tap-button-1:before { content: "\f119"; }
.flaticon-wave:before { content: "\f11a"; }
.flaticon-zoom:before { content: "\f11b"; }
.flaticon-zoom-in:before { content: "\f11c"; }
.flaticon-zoom-in-1:before { content: "\f11d"; }
    
    $font-Flaticon-clap-hands: "\f100";
    $font-Flaticon-diagonal-swipe: "\f101";
    $font-Flaticon-dislike: "\f102";
    $font-Flaticon-draw: "\f103";
    $font-Flaticon-fist: "\f104";
    $font-Flaticon-frame: "\f105";
    $font-Flaticon-hand: "\f106";
    $font-Flaticon-hold: "\f107";
    $font-Flaticon-like: "\f108";
    $font-Flaticon-peace-sign: "\f109";
    $font-Flaticon-pointing-rith: "\f10a";
    $font-Flaticon-press-button: "\f10b";
    $font-Flaticon-push-button: "\f10c";
    $font-Flaticon-rock-gesture: "\f10d";
    $font-Flaticon-rotate: "\f10e";
    $font-Flaticon-rotate-1: "\f10f";
    $font-Flaticon-rotate-2: "\f110";
    $font-Flaticon-rotate-3: "\f111";
    $font-Flaticon-shake-hands: "\f112";
    $font-Flaticon-swipe-down: "\f113";
    $font-Flaticon-swipe-to-right: "\f114";
    $font-Flaticon-swipe-to-right-1: "\f115";
    $font-Flaticon-swipe-to-right-2: "\f116";
    $font-Flaticon-swipe-up: "\f117";
    $font-Flaticon-tap-button: "\f118";
    $font-Flaticon-tap-button-1: "\f119";
    $font-Flaticon-wave: "\f11a";
    $font-Flaticon-zoom: "\f11b";
    $font-Flaticon-zoom-in: "\f11c";
    $font-Flaticon-zoom-in-1: "\f11d";